#postgres
ConnectionStrings__postgres=Host=localhost;Port=5432;Database=xxx;Username=xxx;Password=xxx
Auth__BootstrapAdminUsername=admin
Auth__BootstrapAdminEmail=admin@example.com
Auth__BootstrapAdminPassword=ChangeMe1234
ObjectStorage__Endpoint=localhost:9000
ObjectStorage__AccessKey=minioadmin
ObjectStorage__SecretKey=minioadmin
ObjectStorage__Bucket=blog-media
ObjectStorage__UseSsl=false
ObjectStorage__PublicBaseUrl=http://localhost:9000/blog-media
